*{ margin:0; padding:0;}

img{ border:none;}

ul,li{ list-style:none;}

a{ text-decoration:none; color:#333333;}
a:hover{ color:#f90000;}

em, h1{ font-style:normal;}

body{font: 12px/1.5 Tahoma,arial,"Hiragino Sans GB","microsoft yahei",宋体;}

.fl{ float:left;}
.fr{ float:right;}

.poR{ position:relative;}
.poA{ position:absolute;}

.mTop50{ margin-top:50px;}



.warp{ width:100%; display:inline-block;}

.wCon{ width:1002px; margin:0 auto;}

.h560{ height:560px;}




.bigBgImg{ width:100%; height:560px; float:left; overflow:hidden; position:relative;}


#bigPic{ width:100%; height:560px; overflow:hidden; position:relative; float:left;}

#bigPic li{ position:absolute; top:0; left:0; z-index:0; width:100%; text-align:center; display:inline-block; width:100%; height:560px;}

#bigPic li img{ width:813px; height:560px;}

#litPic{ width:100%; text-align:center; height:30px; position:absolute; z-index:10; bottom:0;}

#litPic li{ width:20px; height:5px; margin:0 2px; display:inline-block; border:1px solid #eeeeee; background-color:#fdfdfd; font-size:0;}

#litPic li.s{ border:1px solid #e22028; background-color:#e22028;}




.nav{ height:100px; background-color:#ffffff;}

.nav li{ float:left; line-height:18px; width:108px;}

.nav li a{ display:inline-block; width:100%; height:68px; padding-top:32px; font-size:13px; color:#223c7f; text-align:center; position:relative;}

.nav li a.sel{ background-color:#1b9bd8; color:#ffffff;}
.nav li a:hover{ background-color:#44b8ef; color:#ffffff;}
.nav li a:hover em,.nav li a.sel em{color:#eeeeee;}

.nav li a i{ background:none; position:absolute; bottom:15px; left:50px; display:block; width:9px; height:7px;}

.nav li a.sel i{ background:url(../images/dot.png) no-repeat;}

.nav li a em{ color:#6474a7; text-transform:uppercase; font-size:10px;}


.newsBox{ width:342px; float:left; margin-top:30px;}

.newsBox .tit{ border-left:1px solid #dce2e4; line-height:40px; font-size:13px; width:100%; display:inline-block;}

.newsBox .tit a{ display:inline-block; height:40px; text-align:center; color:#333333; width:33%; border:1px solid #dce2e4; border-left:none; background-color:#f3f7f8; float:left;}

.newsBox .tit a.sel{ border-top:3px solid #1b9bd8; border-bottom:none; height:37px; background-color:#ffffff;}

.newsBox .con{ width:100%; display:inline-block; margin:15px 0; height:125px; overflow:hidden;}
.newsBox .con li {background:url(../images/o_ico_02.jpg) no-repeat 0 10px; line-height: 25px; padding-left: 10px;}


.aboutBox{ width:375px; float:left; margin-top:30px; margin-left:30px;}

.aboutBox .tit{ width:100%; height:41px; text-align:center; border-bottom:1px solid #dce2e4; border-left:1px solid #dce2e4;}

.aboutBox .tit a{ display:block; border-top:3px solid #1b9bd8; border-bottom:none; border-right:1px solid #dce2e4; height:40px; line-height:37px; background-color:#ffffff; width:105px; color:#333333; font-size:13px;}

.aboutBox .con{ margin:15px 0;}


.aboutBox .con img {
    border: 1px solid #e3e3e3;
    float: left;
    margin-right: 10px;
    padding: 3px;
}
.aboutBox .con .txt {
	text-indent:25px;
    display: block;
    line-height: 23px;
    overflow: hidden; color:#333333;
}


.yewBox{ width:200px; border:1px solid #e8eef0; margin-top:30px; padding:7px;}

.yewBox a{ display:block; width:100%; text-align:center; height:40px; line-height:40px; margin:3px 0; background-color:#f5f5f5;}

.yewBox a:hover, .yewBox a.sel{ background-color:#1b9bd8; color:#ffffff;}


.md_pic{ background-color:#eff2f4; margin-top:30px;}

.md_pic ul{ width:215px; float:left; margin:30px 0;}

.md_pic ul.mleft{ margin-left:45px;}

/*.md_pic ul dt{}*/

.md_pic li img{ width:215px; height:144px; border:2px solid #ffffff; margin-bottom:5px;}

.md_pic li{ text-align:center; margin-top:5px;}

.md_pic li.tit{ font-size:13px;}

.md_pic li strong{ color:#f90000;}

h3.tit{ float:left; color:#ffffff; font-weight:normal; height:35px; line-height:35px; padding:0 30px; background-color:#1b9bd8; margin-top:30px;}

ul.box{ width:100%; float:left; margin:15px 0;}

ul.box li{ float:left; margin:5px 50px 5px 0;}
ul.box li.noMar{ margin-right:0;}

.footerBg{ background-color:#1b9bd8; height:125px; font-family:"宋体"; line-height:28px; margin-top:15px;}

.footLeft{ width:700px; color:#ffffff; margin-top:20px;}

.footLeft a{ color:#ffffff;}

.footLeft a:hover{ color:#005c88;}

.footright{ width:300px; color:#ffffff; margin-top:20px;}

.footright img, .footright span{ float:left;}

.footright span{ margin-left:15px;}